<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Department</title>
</head>
<body>
	<form action="insert" method="post"> <!-- /insert 경로 -->
		<label for="departmentId">ID</label><input type="text" name="departmentId" id="departmentId">
		<label for="departmentName">NAME</label><input type="text" name="departmentName" id="departmentName">
		<label for="managerId">MGR</label><input type="text" name="managerId" id="managerId">
		<label for="locationId">LOCATION</label><input type="text" name="locationId" id="locationId">
		<button>저장</button>	
	</form>
</body>
</html>