<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReplyMapper">

	<insert id="insert" parameterType="ReplyDTO">
			INSERT INTO tbl_reply (
														rno, 
														bno, 
														reply, 
														replyer
														) 
			VALUES (
							seq_reply.nextval, 
							#{bno}, 
							#{reply}, 
							#{replyer}
							)
	</insert>

	<update id="update" parameterType="ReplyDTO">
			UPDATE tbl_reply
			SET    updateDate = SYSDATE
			       <if test="reply != null">,reply = #{reply}</if>
			       <if test="replyer != null">,replyer = #{replyer}</if>
			WHERE  rno = #{rno}
	</update>

	<delete id="delete">
			DELETE FROM tbl_reply
			WHERE  rno = #{rno}
	</delete>
	
	<delete id="deleteByBno">
			DELETE FROM tbl_reply
			WHERE  bno = #{bno}
	</delete>

	<select id="getList" resultType="ReplyDTO">
			SELECT rno, 
						 bno, 
						 reply, 
						 replyer,
						 replydate,
						 updatedate
			FROM   tbl_reply
			WHERE  bno = #{bno}
			ORDER  BY rno DESC
	</select>
	
	<select id="getListWithPage" resultType="ReplyDTO" parameterType="ReplySearchDTO">
			SELECT r.*
			FROM   (SELECT /*+ INDEX_DESC(tbl_reply pk_reply) */
			               ROWNUM rn,
			               rno, 
						         bno, 
						         reply, 
						         replyer,
						         replydate,
						         updatedate
							FROM   tbl_reply
							WHERE  bno = #{bno}
							ORDER  BY rno DESC) r
			WHERE  r.rn >= #{start}
			<![CDATA[
			  AND  r.rn <= #{end}
			]]>
	</select>
	
	<select id="getReplyCnt">
			SELECT COUNT(*)
			FROM   tbl_reply
			WHERE  bno = #{bno}
	</select>
	
	<!-- insert 이후 rno 반환 -->
	<select id="getRecentRno">
			SELECT r.rno
			FROM   (SELECT rno
			        FROM   tbl_reply
			        ORDER  BY replydate DESC) r
			WHERE   ROWNUM = 1
	</select>

</mapper>